{% extends 'search/search_base.html' %}

{% block page_search_header %}
  <h2>Search</h2>
  <p>Search research for: <span class="secondary-label">sass</span></p>
{% endblock %}

{% block page_search_results %}
  <table class="u-full-width circle--table">
    <thead>
      <tr>
        <th>Project Title</th>
        <th class="circle--cell--right">Project Needs</th>
      </tr>
    </thead>
    <tbody>
      <tr class="clickable-row" data-href="project.html">
        <td>
          <h3>Invoice Delivery Tool</h3>
        </td>
        <td class="circle--cell--right">
          <span class="secondary-label">Rails Developer</span>
        </td>
      </tr>
      <tr class="clickable-row" data-href="project.html">
        <td>
          <h3>Twitter Client</h3>
        </td>
        <td class="circle--cell--right">
          <span class="secondary-label">Designer</span>
        </td>
      </tr>
    </tbody>
  </table>
{% endblock %}
