# unlike .gitignore, patterns that match a directory do not recursively
# match paths inside that directory. Wherever you would use `path/` in 
# .gitignore use `path/**` in .gitattributes
# see: https://git-scm.com/docs/gitattributes
supplied_files/** linguist-vendored
social_team_builder/app/static/app/css/** linguist-vendored
social_team_builder/app/static/app/images/** linguist-vendored
social_team_builder/app/static/app/js/** linguist-vendored
social_team_builder/static_root/** linguist-generated
