# unlike .gitignore, patterns that match a directory do not recursively
# match paths inside that directory. Wherever you would use `path/` in 
# .gitignore use `path/**` in .gitattributes
# see: https://git-scm.com/docs/gitattributes
supplied_files/** linguist-vendored
