{% extends "base.html" %}

{% block page_content %}

  <div class="circle--page--header grid-100">
    <h2>{% block page_header %}PAGE HEADER{% endblock %}</h2>
    {% block page_header_nav %}{% endblock %}
  </div>

  <div class="grid-70">
    {% block page_main_body %}
    {% endblock page_main_body %}
  </div> <!-- end .grid-70 -->

  <div class="grid-25 grid-push-5">
    
    <div class="circle--secondary--module">
      <div class="circle--primary--avatar">
      </div>
    </div>
    
    {% block page_right_sidebar %}
    {% endblock page_right_sidebar %}
  </div> <!-- end .grid-25, .grid-push-5-->

{% endblock page_content %}