{% extends "base.html" %}

{% block page_content %}

  <div class="circle--page--header circle--fluid">
    <div class="circle--fluid--cell circle--fluid--primary">
      <h2>{% block page_header_primary %}{% endblock %}</h2>
    </div>
    <div class="circle--fluid--cell circle--fluid--secondary">
      {% block page_header_secondary %}
      {% endblock %}
    </div>
  </div>

  <div class="grid-70">
    {% block page_main_body %}
    {% endblock page_main_body %}
  </div> <!-- end .grid-70 -->

  <div class="grid-25 grid-push-5">
    
    <div class="circle--secondary--module">
      <div class="circle--primary--avatar">
        {% block page_right_sidebar_avatar_input %}{% endblock %}
      </div>
    </div>
    
    {% block page_right_sidebar %}
    {% endblock page_right_sidebar %}
  </div> <!-- end .grid-25, .grid-push-5-->

{% endblock page_content %}