{% extends "base.html" %}

{% comment %}
	The section in the '.stbuser' div relates to the custom user and auth 
	behaviour.
{% endcomment %}

{% block action_bar %}{% endblock %}

{% block page_structure %}
  <div class="bounds">
    <div class="stbuser grid-30 centered">
      <h2>Sign Up</h2>
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button-primary" type="submit">Sign Up</button>
        <a class="button" href="{% url 'signin' %}">Sign In</a>
      </form>
    </div> <!-- end .stbuser, .grid-30, .centered -->
  </div> <!-- end .bounds -->
{% endblock page_structure %}